#administration settings, allows more access
admin_username='admin'
admin_password='password'
#database settings
database_host='localhost'
database_user='resource'
database_password='password'
database_database='resource_tracker'
#data storage tables
data_table='data'
user_table='users'
action_table='actions'
#application configuration
app_secretKey='(>\x10\x1a7Ssm\x18\xa7K>\xf7\x00Yx\x87\x95w\xef\xd05\xa7\xbf\xca\xac(\xafR\x0b\xe0\xab\x0c\xa8\xa0\xb5Q\xdb\x87S\x91V\xbd\xd6B\xf3\xcbp\xc1\x82\x8b\xea1\xb1\x83\x17\x1fp\x95\xa4(\x99\xb90'
app_debug=True
app_port=5000	