input[type=text], input[type=password] {
    border : 1px black solid;
    height: 20px;
    padding-left: 2px;
}
.center {
    text-align: -webkit-center;
}

.hint {
    color: #7F7F7F;
}
.hint:hover {
    color: #666666;
    font-weight: bold;
    cursor: pointer;
}

.navBar a {
    color:blue;
    text-decoration: none;
}

.navBar a:hover {
    color:black;
}

.navBar a:visited{
    color:blue;
}

th {
    min-width: 100px;
}
