{% extends 'template.html' %}
{% block body %}
<form method='post' action='/addtrans' class="center">
    <table>
        <tr>
            <td>S/N <span class="hint" title="Serial Number">?</span></td>
            <td>User <span class="hint" title="The person that the object\nis assigned to">?</span></td>
            <td>Model <span class="hint" title="What is the object">?</span></td>
            <td>State <span class="hint" title="What is happening to the object">?</span></td>
            <td>Note</td>
        </tr>
        <tr>
            <td><input type='text' name='serialNumber' required></td>
            <td><input type='text' name='loginName'></td>
            <td>
                <select name='resourceType'>
                    {% for row in resourcetype %}
                        <option value='{{ row[0] }}'>{{ row[1] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name='transType'>
                    {% for row in transTypes %}
                        <option value='{{ row[0] }}'>{{ row[1] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type='text' name='note'>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href='{{ url_for("settings") }}'>add</a></td>
            <td><a href='{{ url_for("settings") }}'>add</a></td>
        </tr>
    </table>
    <input type='submit' value='Submit'>
</form></center>
{% endblock %}
