{% extends 'template.html' %}
{% block body %}
	<form action='/{{ adminURL }}' method='post'>
		<table>
			<tr>
				<td>Username</td>
				<td>Password</td>
			</tr>
			<tr>
				<td><input type='text' name='username' required></td>
				<td><input type='text' name='password' required></td>
				<td><input type='submit' value='create user' name='btn'></td>
			</tr>
		</table>
	</form>
	<form action='/{{ adminURL }}' method='post'>
		<table>
			<tr>
				<td>Resource Name</td>
				<td>Resource Type</td>
			</tr>
			<tr>
				<td><input type='text' name='resourceName' required></td>
				<td><input type='text' name='resourceType' required></td>
				<td><input type='submit' value='add resource' name='btn'></td>
			</tr>
		</table>
	</form>
	<form action='/{{ adminURL }}' method='post'>
		<table>
			<tr>
				<td>Transaction Name</td>
			</tr>
			<tr>
				<td><input type='text' name='transactionName' required></td>
				<td><input type='submit' value='add transaction' name='btn'></td>
			</tr>
		</table>
	</form>
{% endblock %}