{% extends 'template.html' %}
{% block body %}
<div class="center">
    <table>
        <tr>
            <th>S/N</th>
            <th>User<th>
            <th>Model</th>
            <th>Action</th>
            <th>Date</th>
            <th>Notes</th>
        <tr>

        {% for entry in entries %}
        <tr>
            <td>{{ entry.serial }}</td>
            <td>{{ entry.owner }}</td>
            <td>{{ entry.model }}</td>
            <td>{{ entry.transtype}}</td>
            <td>{{ entry.date }}</td>
            <td>{{ entry.notes }}</td>
        </tr>
        {% endfor %}
    </table>
        {% if entries == [] %}
            <h3>No Transactions</h3>
        {% endif %}
</div>
{% endblock %}
