{% extends 'template.html' %}
{% block body %}
<center>
	<div class="alert alert-warning" role="alert">Not Yet Implemented</div>
	<style type="text/css">
	table {
		width:600px;
	}
	th, td {
		width:100px;
		display: inline-block;
	}
	</style>
	<table>
		<tr>
			<th>s/n</th>
			<th>Login Name<th>
			<th>type</th>
			<th>Date</th>
			<th>Action</th>
		<tr>
		{% for entry in entries %}
		<tr>
			<td>{{ entry[0] }}</td>
			<td>{{ entry[1] }}</td>
			<td>{{ entry[2] }}</td>
			<td>{{ entry[3] }}</td>
			<td>{{ entry[4] }}</td>
		</tr>
		{% endfor %}
	</table>
</center>
{% endblock %}


def select(query):
	db = MySQLdb.connect(host=app.config['sql_host'], user=app.config['sql_user'], passwd=app.config['sql_password'], db=app.config['sql_db'])
	cur = db.cursor()
	cur.execute(query)
	toreturn=cur.fetchall()
	cur.close()
	db.close()
	return toreturn