{% extends 'template.html' %}
{% block body %}
    <form action="/login" method="post" class="center">
        <h3>Login</h3>
        <table>
            <tr>
                <td>Email:</td>
                <td><input type='text' name='email' autofocus required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td></td>
                <td><button type='submit' value='Submit' class="btn btn-default">Login</button></td>
        </table>
    </form>
{% endblock %}
