<!-- Login Template-->
<html>
<body bgcolor='#59BCFC'>
<h1 align='center'><u>
        Laptop Tracker:
</u></h1>
<br><br><br><br><br><br>
<form action="?login" method="post" id='LoginForm'>
<div id='Login Box' style='background-color:#1400ff;height:160px;width:250px; position: absolute; left:390px;top:110px; border:3px solid black;' align='center'>
	<div id='Username'><br><b><em>Username:</em></b> <input type='text' name='Username'autofocus required></div>
	<div id='Password'><br><b><em>Password:</em></b><input type="password" name="Password" required></div>
<button type='submit' value='Submit' form='LoginForm'>Login</button>  
</div> 
</form>
</body>
</html>
