{% extends 'template.html' %}
{% block body %}
<center>
<form action='/history' method='post'>
	s/n: <input type='text' name='serialNumber' required>
		Login Name: <input type='text' name='loginName'>
		<select name='resourceType'>
			{% for row in resourcetype %}
				<option value='{{ row[0] }}'>{{ row[1] }}</option>
			{% endfor %}
		</select>
		<select name='transtype'>
			{% for row in transtypes %}
				<option value='{{ row[0] }}'>{{ row[1] }}</option>
			{% endfor %}
		</select>
		Note: <input type='text' name='note'>
		<input type='submit' value='Search'>
</form>
</center>
{% endblock %}