{% extends 'template.html' %}
{% block body %}
<div class="center">
    <table>
        <tr>
            <td>
                <form action='{{ url_for("settings") }}' method='post'>
                    <table>
                        <tr>
                            <td>Model</td>
                        </tr>
                        <tr>
                            <td><input type='text' name='resourceName' required></td>
                            <td><input type='submit' value='Add Model'></td>
                        </tr>
                    </table>
                </form>
            </td>
            <td style="display:inline-block; margin-left:30px;">
                <form action='{{ url_for("settings") }}' method='post'>
                    <table>
                        <tr>
                            <td>State Name</td>
                        </tr>
                        <tr>
                            <td><input type='text' name='state' required></td>
                            <td><input type='submit' value='Add State'></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
