<!DOCTYPE html>
<head>
    <title>Resource Tracker</title>
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css') }}'>
</head>
<body>
    <table width="100%">
        <tr>
            <td>
                <center>
                    <a href="{{ url_for('history') }}">History</a> |
                    <a href="{{ url_for('addtrans') }}">New</a> |
                    <a href="{{ url_for('history') }}">Search</a> |
                    <a href="{{ url_for('logout') }}">Logout</a>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                {% for message in get_flashed_messages() %}
                    <center>
                        <span style="color:red;">{{ message }}</span>
                    </center>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {% block body %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <span style="font-size:10px;">&copy; Finley Hebert-Perkins</span>
                </center>
            </td>
        </tr>
    </table>
</body>
